<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Counter</h1>
    <p>{{count}} times</p>
    <a href="/destroy">Reset</a> 
    <a href="/plustwo">add 2</a>

    <form action="/custom" method="post"><p>How much to increment? <input type="number" name="howmuch" id=""> <input type="submit" value="submit"></p></form>
        
</body>
</html>