<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

</head>
<body>
    <h1>Login Here</h1>
    <form action = '/result' method = 'post' class="form-inline" role="form">
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" name = 'email' id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" name = 'pw' id="pwd">
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    
    
    
    <!-- <form action="/result" method="post">
        <p>Username: <input type="text" name="username" id=""></p>
        <p>Password: <input type="password" name="pw" id=""></p>
        <p><input type="submit" value="Login"></p>
    </form> -->
</body>
</html>