<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add a Trip</h1>
    <a href="/home">Home</a>
    <a href="/logout">Logout</a>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}

    <form action="/createTrip" method="post">
        {% csrf_token %}
        <p>Destination: <input type="text" name = "dest"></p>
        <p>Description: <input type="text" name = "desc"></p>
        <p>Travel Date From: <input type="date" name = "from"></p>
        <p>Travel Date To: <input type="date" name = "to"></p>
        <input type="submit" value="Add">
    </form>
</body>
</html>