<div>
    <h2>Welcome, @ViewBag.LoggedIn.FirstName</h2>
</div>
<h3><p>Deposit/Withdraw</p>
        <p>Current Balance: @ViewBag.Balance</p>
        @model Transaction
        <form action ="/deposit" method="post">
        <div class="form-group">
        <span asp-validation-for="Amount" class="text-danger"></span>
        <label asp-for="Amount"></label> 
        <input type="number" class = "form-control" name="Amount">
        </div>
        
        <input type="submit" value="Submit">
        </form>
</h3>
<table>   
    <tr>
        <th>Amount</th>
        <th>Date</th>
    </tr>
@foreach(var i in ViewBag.Trans)
{
    <tr>
        <td>@i.Amount</td>
        <td>@i.CreatedAt</td>
    </tr>
}
</table> 