<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<style>
div{
    background-color: {{some_color}};
    border: 1px solid black;
    display: inline-block;
    height: 50px;
    width: 50px;
    
}

</style>

</head>
<body>
{% for i in range(0, some_num) %}
<div></div>


{% endfor %}
    
</body>
</html>