<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <style>
            p{
                border: 1px solid black;
            }
        </style>
</head>
<body>
    <h1>Author: {{author.first_name}} {{author.last_name}}</h1>
    <h2>ID: {{author.id}}</h2>
    <p>Notes: {{author.notes}}</p>
</body>
</html>