
<p><a href="/">Home</a></p>

        <h2>@ViewBag.Dish.Name</h2>
        <h4>@ViewBag.Dish.Chef</h4>
        <p>@ViewBag.Dish.Description</p>
        <p>Calories :@ViewBag.Dish.Calories</p>
        <p>Tastiness :@ViewBag.Dish.Tastiness</p>

<p><a href="/edit/@ViewBag.Dish.DishId">Edit</a></p>
<p><a href="">Delete</a></p>
    
