<h1>new chef</h1>

@model Chef
 <form action ="/addChef" method="post">
        <div class="form-group">
        <span asp-validation-for="FirstName" class="text-danger"></span>
        <label asp-for="FirstName"></label>
        <input class = "form-control" asp-for="FirstName">
        <div class="form-group">
        <span asp-validation-for="LastName" class="text-danger"></span>
        <label asp-for="LastName"></label>
        <input class = "form-control" asp-for="LastName">
        </div>
        <div class="form-group">
        <span asp-validation-for="Age" class="text-danger"></span>
        <label asp-for="Age"></label> 
        <input type ="date" class = "form-control" asp-for="Age">
        </div>
        <div>
        <input type="submit" value="Add Chef">
        </div>
      
    </form>
